{% extends 'placarPPR/base.html' %}

{% block content %}
    <style type="text/css">
        #wifi{
            {% if post.farol == 'vermelho' or post.farol == 'VERMELHO'  %}
                color: #ff4444;
            {% elif post.farol == 'amarelo' or post.farol == 'AMARELO'%}
                color: #ffbb33;
            {% elif post.farol == 'verde' or post.farol == 'VERDE'%}
                color: #00c851;
            {% endif %}
            font-size:3.5em;
        }
    </style>

    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
    
  <!--   <h1>{{ post.title }}</h1> -->

    
    <div class="dashboard_main">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div id="atingido_parcial" data-percent="{{ post.percent_ating }}" class="center medium percent-wheel"></div>
                </div>
                <div class="row">
                    <div class="text-center h2">Atingido Acumulado</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row text-center qt_salarios_num">
                    {{ post.qt_salarios }}
                </div>
                <div class="row">
                    <div class="text-center h2">Salários Estimados (*)</div>
                </div>
            </div>      
        </div>

    </div>
    <div class="table-responsive top15 summary-table">
        <table class="table">
            <thead>
                <tr>
                    <th>RBS Mídias</th>
                    <th>Meta Ano</th>
                    <th>Meta Acum</th>
                    <th>Real Acum</th>
                    <th>% Ating.</th>
                    <th>Atingido Ano</th>
                    <th>Farol</th>
                    <th>Qt Salários (*)</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                    <td>EBITDAP - R$ mil</td>
                    <td>R${{ post.meta_ano }}</td>
                    <td>R${{ post.meta_acum }}</td>
                    <td>R${{ post.real_acum }}</td>
                    <td>{{ post.percent_ating }}%</td>
                    <td>{{ post.atingido_ano }}%</td>
                    <td>{{ post.farol }}</td>
                    <td>{{ post.qt_salarios }}</td>
              </tr>
            </tbody>
        </table>
    </div>

    <div class="date top15">
        {{ post.obs }}
    </div>
    {% if post.published_date %}
            <div class="date top15">
                Publicado em {{ post.published_date }}
            </div>
        {% endif %}
    <p>{{ post.text|linebreaksbr }}</p>
    </div>

    <script type="text/javascript">
    $(function(){
        $("#atingido_parcial").percircle({
            {% if post.farol == 'vermelho' or post.farol == 'VERMELHO'  %}
                progressBarColor: "#ff4444"
            {% elif post.farol == 'amarelo' or post.farol == 'AMARELO'%}
                progressBarColor: "#ffbb33"
            {% elif post.farol == 'verde' or post.farol == 'VERDE'%}
                progressBarColor: "#00c851"
            {% endif %}
        });
    });


    function animate_count($el, duration, prefix, postfix, is_decimal) {
        prefix = prefix || '';
        postfix = postfix || '';
        is_decimal = is_decimal || false;

        var text = $el.text().replace(/[^0-9]/g, '')

        jQuery({ counter: 0 }).animate({ counter: parseInt(text) }, {
                duration: 1250,
                easing: 'swing',
                step: function () {
                    text = is_decimal ? Math.ceil(this.counter) / 100 : Math.ceil(this.counter);
                    $el.text(prefix + text + postfix);
                }
            });
        }

</script>
{% endblock %}
