/*Página Principal*/
h1 a {
    color: #4f5386;
    font-family: 'Kreon', serif;
    font-size: 27pt;
    line-height: 0.1;
}
.imagem{
    color: #ffffff;
    float: left;
    margin: 22px auto 0 2%;
}
body {
    background-color: #f5f5f5;
    padding:0;
    width: 100%;
}

.container-base{
    width: 90%;
    margin: auto;
}
.page-header {
    background-color: #244ca4;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    margin-top: 0px;
    margin-left: -15px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.page-header h1{
    width: 80%;
    margin: auto;
}

.page-header h1 a{
    line-height: 1em;
}
.content {
    margin-left: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Kreon', serif;
    font-size: 15pt;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.top-menu span:hover{
    text-shadow: #e4e4e4 1px 0px 5px;
    color: #fff;
}

.post {
    width:100%;
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

/* Página de detalhamento do placar */

.table{
    font-size: 1em;
}

.detail_card{
    float: left;
    width: 18%;
    margin: 0 2% 30px 3%;
    border: 3px solid #6686cb;
    border-radius: 5px;
    height: 150px;
    background-color: #a4bed5;
}

.detail_h{
    color:#333333;;
}
.dashboard_main{
    margin-top:35px;
    font-family: 'Kreon', serif;
    margin-bottom: 30px;
}
.dashboard_main .detail_value{
    display:inline-block;
    font-size: 4em;
}

.percircle.medium {
  font-size: 170px;
}


.qt_salarios_num{
    font-size: 118px;
    vertical-align: middle;
}


.top15 { margin-top:15px; }
.top30 { margin-top:30px; }
.top45 { margin-top:45px; }
.top60 { margin-top:60px; }