.goalProgress {
	background: #ccc;
	padding: 5px;
	border-radius: 5px;
}

div.progressBar {
    color: #fff;
    font-size: 1.4em;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 3px;
    display: block;
    width: 20px;
}
span.goalAmount {
	display: none;
	text-indent: -9999px;
}
